<ul class="results-list">
  {{#each items}}
    <li>
      <div class="result-position">{{this.Position}}</div>
      <div class="result-content">
        <div class="result-name">
          <span class="name">{{this.Name}}</span>
          <span class="number">{{this.Time}}</span>          
        </div>
        <div class="result-body">{{this.Team}}<div>
      </div>       
    </li>
  {{/each}}
</ul>