<div class="page-title">
	<a href="#/stages/{{id}}" class="back"><i class="icon-chevron-left"></i></a>
	<h2>{{name}}</h2>
</div>

{{#if liveFeed.items.length}}
	<ul>
	{{#each liveFeed.items}}	
		<li>{{{this.Text}}</li>	
	{{/each}}
	</ul>
{{/if}}