<div class="page-title">
  <a href="#/stages/{{stage.id}}" class="back"><i class="icon-chevron-left"></i></a>
  {{#if stage.icon}}
    <img class="icon" src="{{stage.icon}}"/>
  {{/if}}
  <h2>{{stage.name}}</h2>
</div>

<div class="jersies"></div>
<div class="page-content push-two">
  <div class="results"></div>
</div>