<div class="page-title">
  <h2>Standings</h2>
</div>

<div class="select-list">

  <div class="selected-item">
    <div class="selected-item-name">Selected item name here</div>
    <a class="expand-btn"><i class="icon-chevron-down"></i></a>
  </div>

  <ul class="nav items invisible">
    {{#each feeds}}
    <li>
      <a href="#/standings/{{this.jerseyId}}"><div class="inner">{{this.name}}</div></a> 
    </li>
    {{/each}}
  </ul>

</div>








<div class="results"></div>
