<div class="page-title">
  <a href="#/teams" class="back"><i class="icon-chevron-left"></i></a>
  {{#if label}}<h2>{{label}}</h2>{{/if}}
</div>

<div class="page-content push-one team-details">

</div>