html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

#main-menu {
 
}

#content {
  background: #FFFFFF;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;  
  /*overflow: auto;*/
}

body.menu-expanded #content {
  margin-left: 165px;
}

#header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

#page {
  position: absolute;
  top:40px;
  right:0px;
  bottom:0px;
  left:0px;
  overflow: auto;
}

#map_canvas {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

